.blog-item {
    padding-left: 0 !important;
}

.blog-item a{
    text-decoration: none;
    color: inherit;
}

.blog-item a:hover {
    text-decoration: none;
}

.blog-item__desc {
    height: 50px;
}

.blog-item__button {
    text-align: right;
}

.btnDelArticle {
    position: absolute;
    padding: 3px !important;
    background-color: white !important;
    border-radius: 20px !important;
    cursor: pointer;
}
